/* Font */
:root {
	--font-default: "Open Sans", system-ui,
		-apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans",
		"Liberation Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-primary: "Amatic SC", sans-serif;
	--font-secondary: "Inter", sans-serif;
}

/* Color */
:root {
	--grayColor: #f0f3f2;
	--fontColor: #5c6c75;
	--primaryColor: #0aad0a;
	--iconColor: #198754;
	--onClick: #556166;
	--textColor: #607179;
	--footerColor: #001E2B;
	--catagoryColor: #21313C;
	--iconColor1: #0aad0a;
}

:root {
	scroll-behavior: smooth;
	font-size: 14px;
}

/* Language */
.language {
	background-color: var(--grayColor);
}

/* Navbar */
.navbar-brand img {
	max-width: 150px;
}

.navbar-nav .nav-item .nav-link {
	font-weight: 600;
}

.navbar-nav>.nav-item {
	width: 7em;
}

.owl-next, .owl-prev {
	align-items: center !important;
	background-color: var(--grayColor) !important;
	border: 1px solid var(--grayColor) !important;
	border-radius: 50px !important;
	flex-shrink: 0 !important;
	font-size: 1.25rem !important;
	height: 32px !important;
	width: 32px !important;
}

.category a {
	color: black;
	font-weight: 500;	
}

.category a:hover {
	color: var(--primaryColor);
}

.category .card:hover {
	border: solid var(--primaryColor);
}

.owl-nav {
	position: absolute !important;
	top: calc(0% - 64px) !important;
	right: 0 !important;
}

.owl-next:hover, .owl-prev:hover {
	height: 32px !important;
	width: 32px !important;
	border-radius: 50% !important;
	background: var(--primaryColor) !important;
	border-radius: 50% !important;
	width: 32px !important;
}

span.img-text {
	text-decoration: none;
	outline: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	cursor: pointer;
	width: 100%;
	font-size: 23px;
	display: block;
	text-transform: capitalize;
}

span.img-text:hover {
	color: #2caae1;
}
/* Hide icon x of search box */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
	appearance: none;
}

.search-and-icons form input {
	border-radius: 25px;
	height: 2em;
	background: #fff
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
		no-repeat 95%;
}

.search-and-icons form input:focus {
	background: #fff;
}

.user-icons span {
	font-weight: 500;
	background: var(--iconColor);
	padding: 1px 5px;
}

.user-icons i {
	color: black;
}

/* Slider */
.slide .carousel-indicators li {
	background-color: #BBBDB9;
	margin-right: 7px;
	width: 7px;
	height: 7px;
	border-radius: 100%;
}

.slide .carousel-indicators .active {
	background-color: var(--onClick);
}

.slide .carousel-caption .sale {
	color: black;
	font-size: 10px;
}

.slide ol {
	list-style-type: none;
}

.slide .carousel-caption {
	text-align: left;
}

.slide h2 {
	word-wrap: break-word;
	width: 10em;
}

.slide p {
	word-wrap: break-word;
	width: 25em;
}

/*Banner*/
.banner .img {
	text-align: left;
	padding: 15px;
}

.why-choose-us p {
	font-size: 14px;
	color: var(--fontColor);
}

footer {
	background-color: var(--footerColor);
}

.catagory img {
	width: 70px;
	height: 70px;
}

.catagory a {
	text-decoration: none;
}

.catagory p {
	font-size: 14px;
	color: var(--catagoryColor);
}

.catagory .card:hover {
	border: 1px solid var(--iconColor1);
	box-shadow: 0 5px 12px rgba(0, 0, 0, .12);
}

.card-product .card-product-action {
	bottom: 15%;
	left: 50%;
	opacity: 0;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	transition: all .3 ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 9;
}

.card-product .btn-action {
	align-items: center;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px -1px rgba(145, 158, 171, .2),
		0 4px 5px 0 rgba(145, 158, 171, .14), 0 1px 10px
		0 rgba(145, 158, 171, .12);
	color: var(--fc-gray-800);
	display: inline-flex;
	font-size: 14px;
	height: 34px;
	justify-content: center;
	line-height: 34px;
	text-align: center;
	transition: all .3s ease 0s;
	vertical-align: middle;
	width: 34px;
}

.card-product .btn-action:hover {
	background-color: var(--iconColor1);
	color: #fff;
}

.card-produc a, a:hover {
	text-decoration: none;
}

.card-product:hover {
	border: 1px solid var(--iconColor1);
	box-shadow: 0 5px 12px rgba(0, 0, 0, .12);
	transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
}

.card-product:hover .card-hidden, .card-product:hover .card-product-action
	{
	opacity: 1;
	visibility: visible;
}

.card-product .card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}

.list-group-flush {
	border-radius: 0;
}

.list-group-flush>.list-group-item {
	border-width: 0 0 1;
}

.fw-bold {
	font-weight: 700 !important;
}

.input-group {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
}

.offcanvas-body {
	flex-grow: 1;
	overflow-y: auto;
	padding: 1rem 1rem;
}

.text-start {
	text-align: left !important;
}

.img-fluid, .img-thumbnail {
	height: auto;
	max-width: 100%;
}

img, svg {
	vertical-align: middle;
}

.offcanvas-header .btn-close {
	margin-bottom: calc(1rem * -.5);
	margin-right: calc(1rem * -.5);
	margin-top: calc(1rem * -.5);
	padding: calc(1rem * .5) calc(1rem * .5);
}

.list-group-item:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.p-2 {
	padding: 0.5rem !important;
}

.offcanvas-body {
	flex-grow: 1;
	overflow-y: auto;
	padding: 1rem 1rem;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback)
	{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -1px;
}