.navbar .navbar-brand img {
    max-width: 150px;
}


.language>.dropdown-menu {
    min-width: 100%;
}

@media screen and (min-width:1024px) {


    .navbar {
        letter-spacing: 0.1em;

    }

    .navbar .navbar-nav .nav-link {
        color: #000;
        padding: .5em 1em;
    }


}

@media screen and (min-width:768px) {
    .navbar .navbar-brand img {
        max-width: 9em;
    }

    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .search-and-icons {
        display: flex;
        align-items: center;

    }


}

.search-and-icons form input {
    border-radius: 25px;
    height: 2em;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E") no-repeat 95%;
}

.search-and-icons form input:focus {
    background: #fff;
}

.search-and-icons .user-icons div {
    padding-right: 1em;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

